{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        {% block form %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endblock %}
    </div>
{% endblock %}
