{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">Personal Information</li>
    <li class="breadcrumb-item">Address Information</li>
    <li class="breadcrumb-item">Payment Information</li>
    <li class="breadcrumb-item active" aria-current="page">Success Page</li>
{% endblock %}

{% block title %}Success!{% endblock %}

{% block body %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        paymentDataId: <strong>{{ registration.paymentDataId|default("-") }}</strong>
    </div>
{% endblock %}
