{% extends 'base.html.twig' %}

{% block title %}Oops! An Error Occurred{% endblock %}

{% block body %}
    <h2 class="text-danger">Page not found</h2>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('index') }}">return to the homepage</a>.
    </p>
{% endblock %}