{% extends 'base.html.twig' %}

{% block title %}Oops! An Error Occurred{% endblock %}

{% block body %}
    <h2 class="text-danger">The server returned a "{{ status_code }} {{ status_text }}".</h2>

    <div>
        Something is broken. Please let us know what you were doing when this error occurred.
        We will fix it as soon as possible. Sorry for any inconvenience caused.
    </div>
{% endblock %}