{% extends 'registration/form-container.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('registration', {'stepPlus': 1}) }}">Personal Information</a></li>
    <li class="breadcrumb-item"><a href="{{ path('registration', {'stepPlus': 2}) }}">Address Information</a></li>
    <li class="breadcrumb-item active" aria-current="page">Payment Information</li>
    <li class="breadcrumb-item">Success Page</li>
{% endblock %}

{% block title %}Payment Information{% endblock %}
