{% extends 'registration/form-container.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Personal Information</li>
    <li class="breadcrumb-item">Address Information</li>
    <li class="breadcrumb-item">Payment Information</li>
    <li class="breadcrumb-item">Success Page</li>
{% endblock %}

{% block title %}Personal Information{% endblock %}

{% block form %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
